body{
    padding: 20px;
    margin: 1%;
}
nav a{
    color:#000000;
    display: inline-block;
    background-color:gray;
    text-decoration: none;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    margin: 50px;
    padding: 20px 0px 0px 0px;
}
.active{
    background-color: rgb(247, 242, 242);

}
header{
    background-color: rgb(247, 242, 242);
    background-image: url("C:/Users/Akshay/Desktop/htmlfiles/assignment-1 2/images/ssit.jpg");
    text-align: center;
    padding: 2%;
    height: 600px;
    color: black;
    background-size: 100%;
}
h1{
    text-transform: uppercase;
}
.left, .right{
    float: left;
    display: inline;
}
.left{
    background-color:grey;
    padding: 1%;
    align-items: center; 
    width: 270px;
    float: left;    
}
.right{
    width: 74%;
    display: inline-block;
    padding-left: 2%;
}
img{
    width: 200px;
    margin: 30px;
    border: solid 2px rgb(1,1,1);    
    display: inline;
    
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration:none;
    border-radius: 50%;
    background: gray;
  }
.fa-facebook{
    background:#3B5998;
    color:white;
}
.fa-twitter{
    background:#55ACEE;
    color:white;
}
.fa-instagram{
    background:#4c68d7;
    color:white;
}
